doctype html
html(lang="en")
  head
    title Home
    meta(charset='UTF-8')
    link(href='css/base.css', rel='stylesheet')
  body(ng-app='app')
    h1 Hello world
    p(ng-controller='MainCtrl as ctrl') {{ctrl.message}}

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js')
    script(src='js/app.js')
